.pageList{
    display: flex;
    justify-content: center;
    width: 490px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: auto;
}
.pageList li{
    display: block;
    float: left;
    font-size: 18px;
    margin: 3px;
    border: 1px solid black;
}
