.game{
    display: block;
    text-align: center;
    padding-top: 20px;
    margin: 5px;
    float: left;
    height: 300px;
    width: 200px;
    border-radius: 5%;
    border: 1px solid black
}

.gameInfo{
    padding-left: 30px;
    margin: auto;
}
