.gameTable{
    width: 65%;
    margin-left: 15px;


    
}
.gameTable div{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    border-radius: 0px;
    border: 1px solid rgb(158, 158, 158);
    height: 150px;
    width: 100%;
}
.gameTable div img{
    margin-left: 15px;
    padding-top: 10px;
    height: 80px;
    width: 80px;
}
.gameTable div p{
    padding-right: 10px;
    width: 150px;
    height: 100px;
    float: left;
}